<ion-view ng-cloak>
	<ion-content>
		
		<div ng-if="temperatures">
			<div class="date-holder">
				<div class="title">
					Chart's Day:
				</div>
				<div class="btn-holder">
					<button class="chevron" ng-click="backwardsDay()">
						<i class="icon ion-chevron-left"></i>
					</button>
				</div>
				<div class="input-holder">
					<input type="date" placeholder="yyyy-MM-dd" min="2016-11-11" max="2017-12-31" ng-model="chartDay" ng-change="getData(chartDay)">
				</div>
				<div class="btn-holder">
					<button class="chevron" ng-click="forwardDay()">
						<i class="icon ion-chevron-right"></i>
					</button>
				</div>
			</div>

			<div class="graphic-holder">
				<div class="chart-title">
					Inside Temperatures of {{azi}}
				</div>
				<canvas ng-if="!loading" id="line" class="chart chart-line" chart-data="temperatures" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="temperaturesColors">
				</canvas> 
				<div ng-if="loading" class="chart-loading" ng-style="setLoadingHeight()">loading chart...</div>
			</div>

			<div class="graphic-holder">
				<div class="chart-title">
					Heating Intervals of {{azi}}
				</div>
				<canvas ng-if="!loading" id="bar" class="chart chart-bar" chart-data="runnings" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="runningsColors">
				</canvas> 
				<div ng-if="loading" class="chart-loading" ng-style="setLoadingHeight()">loading chart...</div>
			</div>
		</div>

		<div class="custom-loading" ng-if="!temperatures">please wait...</div>

	</ion-content>
</ion-view>
