<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-content scroll="false" class="has-footer">
    <ion-slides slider="slider" ion-slides-tabs>
        <ion-slide-page ion-slide-tab-label="Dashboard">
        	<div ng-include="'templates/tab-dash.html'" ng-controller="DashCtrl"></div>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="History">
        	<div ng-include="'templates/tab-history.html'" ng-controller="HistoryCtrl"></div>
        </ion-slide-page>
        <ion-slide-page ion-slide-tab-label="Settings">
        	<div ng-include="'templates/tab-settings.html'" ng-controller="SettingsCtrl"></div>
        </ion-slide-page>
    </ion-slides>
</ion-content>


<div class="weather bar bar-footer" ng-controller="WeatherCtrl">
	<div class="symbol">
		<i class="wi wi-wu-{{weather.icon}}"></i>
	</div>
	<div class="temp-desc">
		<div class="temp">{{weather.temperature.now}}°C</div>
		<div class="desc">{{weather.description}}</div>
	</div>
	<div class="min-max">
		<div class="max">
			<i class="icon ion-ios-arrow-thin-up"></i> {{weather.temperature.max}}°C
		</div>
		<div class="min">
			<i class="icon ion-ios-arrow-thin-down"></i> {{weather.temperature.min}}°C
		</div>
	</div>
	<div class="humidity-pressure">
		<div class="humidity">
			<i class="icon ion-waterdrop"></i> {{weather.humidity}}
		</div>
		<div class="pressure">
			<i class="icon ion-levels"></i> {{weather.pressure}}hpa
		</div>
	</div>
</div>