@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('weather-icons.css');
html,
body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  background: linear-gradient(45deg, #31171e 0%, #aa4636 100%);
  color: #DDD !important;
}
.pane,
.tabs-striped .tabs,
ion-header-bar {
  background-color: transparent !important;
}
ion-nav-view,
ion-tabs {
  background: linear-gradient(45deg, #31171e 0%, #aa4636 100%);
}
.bar.bar-stable .title {
  color: #ddd !important;
}
ion-tabs.tabs-color-active-positive .tab-item {
  color: #ddd !important;
}
.temperature {
  display: inline-block;
  min-width: 76%;
  max-width: 76%;
  vertical-align: middle;
  color: #ddd;
}
.temperature .celsius {
  font-size: 4rem;
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 12rem;
}
.temperature .temp {
  display: inline-block;
  font-size: 9rem;
  font-weight: 700;
  min-height: 80%;
  line-height: 17rem;
  padding-left: 1rem;
}
.temperature .side-temp {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 300;
  min-height: 80%;
}
.controls-container {
  display: inline-block;
  width: 20%;
  height: 30%;
  background: linear-gradient(45deg, #31171e 0%, #aa4636 100%);
  box-shadow: 0 0 10px #ccc;
  border-radius: 1rem;
  vertical-align: middle;
  text-align: center;
  color: #ddd;
  font-size: 1.4rem;
}
.controls-container button {
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;
}
.controls-container button .icon {
  font-size: 1.4rem;
  color: #ddd;
}
.controls-container button.btn-down {
  margin-top: 0.5rem;
}
.controls-container .desired-temperature {
  line-height: 4rem;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
}
.controls-container .desired-sub-unit-temperature {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}
.flame {
  width: 100%;
  text-align: center;
  position: absolute;
}
.flame .icon {
  font-size: 6rem;
  color: #c33029;
}
.flame2 {
  width: 100%;
  text-align: center;
  position: absolute;
}
.flame2 .icon {
  font-size: 6rem;
  color: #c33029;
}
@-webkit-keyframes slideInBothWays {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.75, 0.85);
  }
  50% {
    -webkit-transform: translate3d(1%, 1%, 0);
    -webkit-transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(0.8, 0.9);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: scale(1, 1);
  }
}
@-webkit-keyframes slideInBothWays2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: scale(1, 1);
    -webkit-transform: rotate(9deg);
  }
  25% {
    -webkit-transform: scale(0.75, 0.85);
    -webkit-transform: rotate(12deg);
  }
  50% {
    -webkit-transform: translate3d(1%, 1%, 0);
    -webkit-transform: scale(1, 1);
    -webkit-transform: rotate(3deg);
  }
  75% {
    -webkit-transform: scale(0.8, 0.9);
    -webkit-transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: scale(1, 1);
    -webkit-transform: rotate(9deg);
  }
}
.slide-in-both-ways {
  animation: slideInBothWays ease-in infinite;
  animation-fill-mode: forwards;
  animation-duration: 750ms;
}
.slide-in-both-ways2 {
  animation: slideInBothWays2 ease-in infinite;
  animation-fill-mode: forwards;
  animation-duration: 750ms;
}
.weather {
  padding: 0.4rem 0;
  width: 90%;
  margin-left: 8%;
  margin-right: 2%;
}
.weather .symbol {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.2rem;
  width: 16%;
}
.weather .symbol i {
  font-size: 2rem;
}
.weather .temp-desc {
  display: inline-block;
  width: 25%;
}
.weather .temp-desc .temp {
  font-size: 1rem;
  font-weight: 700;
}
.weather .temp-desc .desc {
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-transform: capitalize;
  font-style: italic;
}
.weather .min-max,
.weather .humidity-pressure {
  width: 25%;
  display: inline-block;
}
.weather .min-max .min,
.weather .humidity-pressure .min,
.weather .min-max .max,
.weather .humidity-pressure .max,
.weather .min-max .humidity,
.weather .humidity-pressure .humidity,
.weather .min-max .pressure,
.weather .humidity-pressure .pressure {
  line-height: 1.2rem;
}
.weather .humidity-pressure {
  width: 28%;
}
.tabs-top > .tabs {
  top: 0 !important;
}
